﻿

<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->

    <title>Login Sample</title>
</head>
<body>
    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">LOGIN</div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button onclick="Login()" class="btn btn-primary">
                                    Login
                                </button>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>function Login() {
                let url = "/Users/login";
                let username = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { user: username, pass: password },
                    success: function (data) {
                        if (data.status == 1) {
                            alert('Login Success');
                            window.location.reload();
                        }
                        else {
                            alert('Password Salah');
                        }
                    }
                });
            }</script>


</body>
</html>
